<section class="container" *ngIf="taskData">
  <h2 class="title">Employee detailed tasks page</h2>
  <div class="task-list">
    <mat-card class="task-card">
      <div class="task-details">
        <h2 class="task-name">{{ taskData.title }}</h2>
        <p class="task-description">{{ taskData.description }}</p>

        <mat-divider></mat-divider>

        <div class="task-info">
          <div class="info-row">
            <span class="info-label">Due Date:</span>
            <span class="info-value">{{
              taskData.dueDate | date : "MMM  d, y"
            }}</span>
          </div>

          <mat-divider></mat-divider>

          <div class="info-row">
            <span class="info-label">Employee:</span>
            <span class="info-value">{{ taskData.employeeName }}</span>
          </div>

          <mat-divider></mat-divider>

          <div class="info-row">
            <span class="info-label">Priority:</span>
            <span class="info-value">{{ taskData.priority }}</span>
          </div>

          <mat-divider></mat-divider>

          <div class="info-row">
            <span class="info-label">Status:</span>
            <span class="info-value">{{ taskData.taskStatus }}</span>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <mat-card class="comment-card">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Pubish Your Comments</mat-card-title>
      </mat-card-header>

      <div>
        <form [formGroup]="commentForm">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Comment</mat-label>
            <textarea
              matInput
              formControlName="comment"
              placeholder="Type your comment here..."
            ></textarea>

            <button
              mat-raised-button
              color="primary"
              style="margin-top: 10px; float: right"
              (click)="publishComment()"
              [disabled]="!commentForm.valid"
            >
              Publish Comment
            </button>
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

  <div
    style="
      margin-top: 3px;
      items-align: center;
      display: flex;
      justify-content: start;
      width: 100%;
    "
    class="task-list"
  >
    <div class="comments">
      <h2 class="title">Comments</h2>
      <mat-card *ngFor="let comment of comments">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>

          <mat-card-title class="comment-name">{{
            comment.postedBy
          }}</mat-card-title>
          <mat-card-subtitle class="comment-subtitle">{{
            comment.createdAt | date : "medium"
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="comment-content">
          {{ comment.content }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
