
.container{
    padding: 2rem 1rem;
    background: #f9f9f9;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    .title{
        font-size: 1.5rem;
        margin-bottom: 5px;
        color: #333;
        text-align: start;
        padding: 1.5rem;
        font-weight: bold;
    }
.task-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 60%;
    margin: 0 auto;
   
    
    .task-card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out;
      padding: 20px;
      
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
      }
  
       .task-details {
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .task-name {
                font-size: 1.25rem;
                font-weight: bold;
                margin: 0 0 0.5rem;
                color: #3f51b5;
                word-wrap: break-word;
            }
    
            .task-description {
                font-size: 0.95rem;
                color: #616161;
                margin-bottom: 1rem;
                line-height: 1.5;
            }
  
            mat-divider {
            margin: 10px 0;
            }
    
            .task-info {
                display: flex;
                flex-direction: column;
                gap: 8px;
  
                .info-row {
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.95rem;
                    color: #444;
  
                    .info-label {
                    font-weight: 600;
                    color: #555;
                    }
  
                    .info-value {
                    font-weight: 400;
                    color: #777;
                    }
                }
            }
  
           
        }
    }
  }
}